/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/


.devslider-container,
.devslider {

  a:hover,
  a:focus {
    outline: none;
  }

}

.slides,
.slides > li,
.devslider,
.devslider-control-nav,
.devslider-direction-nav {

  margin: 0;
  padding: 0;
  list-style: none;

}

.devslider-pauseplay span {

  text-transform: capitalize;

}


img {
  border: 0;
}
